//Variables
$missedLetterColor: #4c6ff5;

.missed-letters__title{
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
}
.letters-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.letters-list__letter{
    text-transform: uppercase;
    font-size: 38px;
    color: $missedLetterColor;
    padding: 5px;
}