.letters-wrapper{
    position: relative;
    z-index: 1;
}
.background-letters{
    display: none;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}
.letters-list{
    @extend .background-letters;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letters-list__letter{
    box-sizing: border-box;
    display: flex;
    width: 40px;;
    height: 40px;
    background: #52545c;
    color:#fff;
    padding: 10px;
    margin: 3px;
    font-size: 12px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.background-letters__letter{
    @extend .letters-list__letter;
    background: transparent;
}
@media screen and (min-width:768px){
    .letters-list__letter{
        width: 80px;;
        min-height: 90px;
        font-size: 28px;
        padding: 10px;          
    }
}

@media screen and (min-width:1080px){
    .background-letters{
        display: flex;
    }
    .letters-list{
        position: absolute;
        top:0;
        left:0;
        right:0;
        justify-content: flex-end;      
    }
    .letters-list__letter{
        width: 80px;;
        min-height: 90px;
        font-size: 28px;
        padding: 10px;          
    }
    .background-letters__letter{
        background: #bababb;
    }
}