*{
    box-sizing: border-box;
}
.app-wrapper{
    max-width: 1024px;
    padding:30px;
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.35);
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
.app-wrapper::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0; 
    height: 0; 
    border-bottom: 200px solid #4d71fa; 
    border-left: 150px solid transparent;
}

@media screen and (min-width:768px){
    .app-wrapper{
        padding: 60px 30px;
        flex-direction: row;        
    }
    .app-wrapper::after{
        border-bottom: 300px solid #4d71fa; 
        border-left: 250px solid transparent;
    }
}

.app-hangman{
    width: 70%;
}
.app-missed-letters{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color:#52545c;
}
.app-word{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (min-width:768px){
    .app-hangman,
    .app-missed-letters{
        width: 50%;
    }
    .app-missed-letters{
        align-items: flex-start;   
    }
}